.taskContainer {
    display: block;
    width: 25%;
    border-radius: 10px 100px / 120px;
    border: black;
    writing-mode: horizontal-tb;
    direction: ltr;
}

.form {
    display: block;
}
.form label {
    display: block;
    padding-top: 0.50rem;
    padding-bottom: 0.5rem
}

.label textarea
{
    border:none;
    outline: none;
    border-bottom: 1px solid black;
}

